{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="row">
    <div class="span8">
      {% from "_formhelpers.html" import render_field %}
      <form class="form-horizontal" method="POST">
        <fieldset>
          <legend>Login</legend>

          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {{ render_field(form.remember) }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </fieldset>
      </form>
    </div>
{% endblock %}
