{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="row">
    <div class="span8">
      <h2>Register</h2>
      <form class="form-horizontal">
        <fieldset>
          <legend>Create a free account</legend>
          <div class="control-group">
            <label class="control-label" for="email">Email address</label>
            <div class="controls">
              <input class="input-xlarge focused" id="email" type="email" value="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input class="input-xlarge focused" id="password" type="password" value="">
              <span class="help-inline">Make it at least 6 characters long.</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="terms">Terms and conditions</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="terms" value="agreeido" >
                Yes, I agree with the <a href="/terms">terms and conditions</a>.
              </label>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create account</button>
            <button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span4">
      <h3>No spam</h3>
      <p>We won't spam you. We won't jam you. We won't sell your email.</p>
      <hr>
      <h3>What to do next?</h3>
      <p>Once you have registed..</p>
{% endblock %}
