{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="page-header">
		<h1>Services <small>That you can plug into and receive alerts from</small></h1>
	</div>	
    <div class="span8">
      <h3>Plug me in</h3>
      <p>...</p>
      <p>...</p>
      <p>...</p>
    </div>
    <div class="span4">
    	<h3>The service you are after is not in the list?</h3>
    	<p><a href="/contact">Let us know</a> what you are after and we will see what we can do.</p>
    	<hr/>
    	<h3>Are you a developer?</h3>
    	<p>Do you have a web service that we can plug into? <a href="/contact">Let us know</a> and we will add you to the list.</p>
    </div>
</div>
{% endblock %}
